/* Main Styles*/

body {
    font-family: "Roboto", sans-serif;
    color:  #434455;
    background-color: #fff;
}

a {
    text-decoration: none;
}

ul,ol {
    list-style-type: none;
}

/* Header*/ 
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.nav-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.logo-header {
    color: #2e2f42;
}

.nav-item:hover, 
.nav-item:focus { 
    color:#404bbf; 
} 

.address {
    font-style: normal;
}

.address-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

/* Hero Section*/

.hero { 
background-color:#2E2F42; 
text-align: center; 
} 

.hero-title { 
font-size: 56px; 
font-weight: 700; 
line-height: 1.07; 
letter-spacing: 0.02em; 
color: #FFF;     
} 

.hero-button { 
font-family: 'Roboto', sans-serif; 
font-style: normal; 
font-weight: 500;   
line-height: 1.5;   
letter-spacing: 0.04em; 
color: #fff; 
} 

button { 
background-color: #4d5ae5; 
cursor: pointer;        
} 

button:hover, 
button:focus { 
background-color: #404bbf; 
} 

/* Styles for sections */ 

.hidden-header {     
} 

.our-team {    
background-color: #f4f4fd;   
text-align: center; 
} 

.section-header {     
color: #2e2f42; 
text-align: center; 
font-size: 36px; 
font-weight: 700; 
line-height: 1.11; 
text-transform: capitalize; 
letter-spacing: 0.02em; 
} 

.section-header-item { 
color: #2e2f42; 
font-size: 20px; 
font-weight: 500; 
line-height: 1.2; 
letter-spacing:0.02em; 
} 

.section-text { 
line-height: 1.5; 
letter-spacing: 0.02em; 
} 

.team-card { 
background-color: #fff; 
text-align: center; 
} 

/* Footer*/

.footer {
background-color: #2e2f42; ;
}

.logo-footer {
    color: #f4f4fd;
}

.footer-text {
color:#f4f4fd; 
line-height: 1.5; 
letter-spacing: 0.02em; 
}